.big-banner{
    img{
        height:440px;
    }
    .box-form{
        width: 300px;
        float: left;
        margin-top: 89px;
        position: absolute;
        ul{
            width: 100%;
            display: inline-block;
            padding: 10px;
            background: rgba(19,72,138,.3);
            border-radius: 6px;
            margin: 0;
            margin-bottom: 8px;
            li{
                list-style: none;
                margin-bottom: 10px;
            }
        }
        .btn-request-consulting{
            background: #39B54A;
            color: #fff;
            text-align: center;
            padding: 10px 0px;
            border-radius: 5px;
        }
    }
}
.header-title{
    font-weight: bold;
    font-size: 22px;
    color: #333;
}
.new-car-left{
    .car-gui-home-tab{
        .item{
            text-align: center;
            border-radius: 5px;
            padding:10px;
        }
        .item:hover{
            box-shadow: 0 2px 6px rgb(0 0 0 / 10%);
        }
        .btn-fix{
            margin-right: 5px;
            padding: 10px 20px;
            text-transform: uppercase;
            font-size: 14px;
            background: #f5f5f5;
            border: 1px solid #ccc;
            line-height: 22px;
        }
    }
    .price-range{
        a{
            border: 1px solid #eee;
            border-radius: 4px;
            display: block;
            font-weight: bold;
            font-size: 16px;
            color: #2070d2;
            text-align: center;
            padding: 16px 10px;
        }
    }
}
.feautured-car{
    .top-content{
        margin: 5px 0;
        font-size: 14px;
        line-height: 22px;
        color: #999;
    }
    .nav-tab-item{
       
        list-style: none;
        margin-right: 20px;
        position: relative;
        &:hover{
            .btn-nav-tab::before{
                border-bottom: 1px solid #2070d2;
                bottom: -2px;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                content: "";
                position: absolute;
                width: 100%;
                border-width: 3px;
            }
        }
    }
    .wrap-car-nab-tab{
        .wrap-img{

        }
        .wrap-content{
            border: 1px solid #ddd;
            padding: 8px 10px;
            h3{
                margin: 0;
                font-weight: bold;
                font-size: 16px;
                line-height: 23px;
                height: 23px;
                overflow: hidden;
                margin-bottom: 8px;
            }
            span{
                font-weight: bold;
                font-size: 18px;
                line-height: 18px;
                color: #2070d2;
                margin: 0;
            }
        }
    }
    .btn-nav-tab{
        color: #999;
        font-size: 14px;
        position: relative;
        display: block;
        padding-bottom: 5px;
        line-height: 20px;
        cursor: pointer;
    }
}
.nav-tab-active{
    .btn-nav-tab{
        color: #333;
    }
    .btn-nav-tab::before{
        border-bottom: 1px solid #2070d2;
        bottom: -2px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        content: "";
        position: absolute;
        width: 100%;
        border-width: 3px;
    }
}
.pro-form-header{
    .location{
        text-decoration-line: underline;
        cursor: pointer;
        color: #2070d2;
        margin-top:26px;
        i{
            padding-right: 5px;
        }
    }
}
.nav-tab-item-select{
    select{
        background: #fff;
        border: 1px solid #e7e7e7;
        width: 170px;
        float: left;
        border-radius: 3px;
        height: 36px;
        position: relative;
        margin-top: -10px;
        border-bottom: 0;
        margin-right: 10px;
        outline: none;
    }
}
.pf-wrap-img{
    .icon-special{
        background: linear-gradient(109.94deg,#3729a8 19.35%,#9a59c8 79.42%);
        font-weight: 900;
        font-size: 13px;
        color: #fff;
        border-radius: 6px;
        height: 24px;
        line-height: 24px;
        padding: 0 6px;
        display: inline-block;
        margin:7px;
        i{
            color:orange;
        }
       
    }
}
.pf-wrap-content{
    padding: 14px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: inset -1px 0 0 #ececec,inset 1px 0 0 #ececec,inset 0 -1px 0 #ececec;
    box-shadow: inset -1px 0 0 #ececec,inset 1px 0 0 #ececec,inset 0 -1px 0 #ececec;
    .title{
        font-weight: bold;
        font-size: 16px;
        height: auto;
        color: #333;
        margin-top: 0;
        margin-bottom: 10px;
        a{
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            position: relative;
            text-overflow: ellipsis;
            white-space: normal;
            word-wrap: break-word;
            color: #333;
        }
    }
    .price{
        color: #f60;
        font-weight: bold;
        font-size: 18px;
    }
    .list{
        .text {
            color: #999;
            font-size: 13px;
            display: inline-block;
            margin-top: 0;
            margin-bottom: 0;
            vertical-align: middle;
            
          }
        .text-loc {
            width: 140px;
            overflow: hidden;
            height: 18px;
            line-height: 18px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
.view-all{
    border: 1px solid #e7e7e7;
    border-radius: 999px;
    height: 30px;
    line-height: 28px;
    color: #515356;
    display: inline-block;
    font-size: 14px;
    min-width: 91px;
    padding: 0 10px;
    cursor: pointer;
}
.box-search{
    background: #2070d2;
    padding: 20px;
    .bt-search {
        background-color:#39b54a !important;
        color: #fff;   
        cursor: pointer;
    }
}
.box-new-car{
    ul{
        padding:0px;
        width: 100%;
        display: inline-block;
        background: #f9f9f9;
        border: 1px solid #e7e7e7;
        padding: 15px 10px;
        margin-bottom: 30px;
        li{
            width: 100%;
            list-style: none;
            float: left;
            border-bottom: 1px solid #e7e7e7;
            padding: 14px 0;
        }
    }
    .content{
        
        .wrap-img{

        }
        .wrap-content{
            padding-left: 10px;
            .title{
                margin: 0;
                font-weight: bold;
                font-size: 14px;
                line-height: 18px;
                color: #333;
                max-height: 36px;
                overflow: hidden;
                margin-bottom: 2px;
                a{
                    color: #333;
                    display: -webkit-box;
                    overflow: hidden;
                    -webkit-line-clamp: 2;
                    text-overflow: ellipsis;
                    white-space: normal;
                    word-wrap: break-word;
                    -webkit-box-orient: vertical;
                }
                
            }
            .price{
                font-weight: bold;
                font-size: 14px;
                line-height: 18px;
                color: #2070d2;
                display: block;
                margin: 0;
                .price-title{
                    margin: 0;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    color: #666;
                    margin-bottom: 8px;
                }
            }
            .text-s {
                margin: 0;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                color: #666;
                text-transform: uppercase;
                .number{
                    border-left: 1px solid #999;
                    padding-left: 5px;
                }
                .star{
                    color: #ffd200;
                    font-size: 16px;
                }
            }
            .location{
                margin: 0;
                font-weight: normal;
                font-size: 13px;
                line-height: 18px;
                margin-top: 2px;
                color: #999;
                display: -webkit-box;
                overflow: hidden;
                -webkit-line-clamp: 3;
                text-overflow: ellipsis;
                white-space: normal;
                word-wrap: break-word;
                -webkit-box-orient: vertical;
            }
        }
    }
}
.active-car-gui{
    background-color: white !important;
    color: #2070d2;
    font-weight: bold;
}
.col-custom{
    width: 20%;
    margin-bottom: 10px;
    img{
        width: 100%;
        
    }
}
.col-custom-1{
    width: 20%;
    margin-bottom: 10px;
    img{
        width: 100%;
        
    }
}
.col-price-custom{
    width: 20%;
}
.feautured-car-mb{
    display: none;
    .location{
        font-size: 12px;
        color: #13488a;
        font-weight: normal;
    }
    select{
        font-size: 13px;
    }
    .info-mb{
        padding:14px;
        border-left: 1px solid #ececec;
        border-right: 1px solid #ececec;
        border-bottom: 1px solid #ececec;
        border-radius: 0 0 6px 6px;
        .title {
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
            height: 44px;
            color: #333;
            margin-top: 0;
            margin-bottom: 8px;
            a{
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                position: relative;
                text-overflow: ellipsis;
                white-space: normal;
                word-wrap: break-word;
                color: #333;
            }
        }
        .price {
            color: #FF6600;
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 3px;
        }
        .list{
            color: #999;
            font-size: 13px;
            .text-loc{
                padding-right: 10px;
            }
            i{
                padding-right: 5px;
            }
        }
    }
}
.feautured-car-pc{
    display: block;
}
.right-content-pc{
    display: block;
}
.new-car-for-sale-mb{
    display: none;
    .btn-view {
        background: #e9f1fb;
        border-radius: 3px;
        height: 36px;
        line-height: 36px;
        color: #2070d2;
        width: 100%;
        display: inline-block;
        text-align: center;
        font-size: 14px;
        padding: 0 10px;
        text-transform: capitalize;
        font-weight: bold;
        margin-top: 5px;
    }
    .photo-mb{
        position: relative;
        .heart{
            position:absolute;
            width: 30px;
            height: 30px;
            right: 0;
            top: 0;
            background: rgba(0,0,0,.6);
            text-align: center;
            line-height: 30px;
            z-index: 1;
            font-size: 16px;
            color: #fff;
        }
    }
    .info-mb{
        padding:5px;
        border-radius: 0px 0px 5px 5px;
        border-left: 1px solid #999;
        border-right: 1px solid #999;
        border-bottom: 1px solid #999;
        .title{
            margin-bottom: 6px;
            a {
                color: #f60;
                display: -webkit-box;
                overflow: hidden;
                -webkit-line-clamp: 3;
                text-overflow: ellipsis;
                white-space: normal;
                word-wrap: break-word;
                -webkit-box-orient: vertical;
                font-size: 16px;
            }
            a:before {
                content: "";
                width: 24px;
                height: 20px;
                display: inline-block;
                margin-right: 5px;
                background: url('../images/newcar/icon-diamond.png') no-repeat 0 0;
                margin-bottom: -4px;
            }
        }
        .location{
            margin: 0;
            display: inline-block;
            width: 100%;
            color: #666;
            font-size: 14px;
            text-align: left;
            line-height: 18px;
            margin-bottom: 6px;
            i{
                padding-right: 5px;
            }
        }
        .price {
            color: #333;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            margin: 0;
            margin-bottom: 6px;
        }
        .text{
            width: 50%;
            margin-bottom: 0px;
        }
    }
    
}
.featured-review-mb{
    display: none;
    .title {
        margin: 0;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #333;
        margin-bottom: 5px;
        height: 44px;
        overflow: hidden;
        a {
            color: #333;
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;
            white-space: normal;
            word-wrap: break-word;
            -webkit-box-orient: vertical;
        }
    }
    .info-mb{
        padding:5px;
        border-radius: 0px 0px 5px 5px;
        border-left: 1px solid #999;
        border-right: 1px solid #999;
        border-bottom: 1px solid #999;
    }
    .text-new {
        margin: 0;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #666;
        margin-bottom: 5px;
        span{
            color: #2070d2;
            font-weight: bold;
            margin-left: 3px;
        }
    }
    .text{
        width: 50%;
        margin-bottom: 0px;
    }
    .btn-view {
        background: #e9f1fb;
        border-radius: 3px;
        height: 36px;
        line-height: 36px;
        color: #2070d2;
        width: 100%;
        display: inline-block;
        text-align: center;
        font-size: 14px;
        padding: 0 10px;
        text-transform: capitalize;
        font-weight: bold;
        margin-top: 5px;
    }
}
.all-phi-mb{
    display: none;
    .title {
        margin: 0;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #333;
        margin-bottom: 5px;
        height: 20px;
        overflow: hidden;
        a {
            color: #333;
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 1;
            text-overflow: ellipsis;
            white-space: normal;
            word-wrap: break-word;
            -webkit-box-orient: vertical;
        }
    }
    .info-mb{
        padding:5px;
        border-radius: 0px 0px 5px 5px;
        border-left: 1px solid #999;
        border-right: 1px solid #999;
        border-bottom: 1px solid #999;
    }
    .location{
        margin: 0;
        display: inline-block;
        width: 100%;
        color: #666;
        font-size: 14px;
        text-align: left;
        line-height: 18px;
        margin-bottom: 6px;
        i{
            padding-right: 5px;
        }
    }
    .btn-view {
        background: #e9f1fb;
        border-radius: 3px;
        height: 36px;
        line-height: 36px;
        color: #2070d2;
        width: 100%;
        display: inline-block;
        text-align: center;
        font-size: 14px;
        padding: 0 10px;
        text-transform: capitalize;
        font-weight: bold;
        margin-top: 5px;
    }
}
// TABLET: width >= 740px and width <= 1023px / 
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .col-custom{
        width: 33.3333%;
        
    }
    .col-custom-1{
        width: 50%;  
    }
    .btn-fix{
        font-size:12px !important;
        line-height: 20px !important;
        padding:6px 7px !important;
        border-bottom: none !important;
    }
    .col-price-custom{
        width: 50%;
        margin-bottom: 10px;
    }
    .feautured-car-pc{
        display: none;
    }
    .right-content-pc{
        display: none;
    }
    .feautured-car-mb{
        display: block;
    }
    .new-car-for-sale-mb 
    {
        display: block;
    }
    .featured-review-mb{
        display: block;
    }
    .all-phi-mb{
        display: block;
    }
}

// MOBILE: width <= 739px /
@media only screen and (max-width: 46.1875em) {
    .col-custom{
        width: 33.3333%;
    }
    .col-custom-1{
        width: 50%;  
    }
    .btn-fix{
        font-size:12px !important;
        line-height: 20px !important;
        padding:6px 7px !important;
        border-bottom: none !important; 
    }
    .col-price-custom{
        width: 50%;
        margin-bottom: 10px;
    }
    .feautured-car-pc{
        display: none;
    }
    .pro-form-header{
        .header-title{
            font-size: 20px !important;
        }
    }
    .right-content-pc{
        display: none;
    }
    .feautured-car-mb{
        display: block;
    }
    .new-car-for-sale-mb 
    {
        display: block;
    }
    .featured-review-mb{
        display: block;
    }
    .all-phi-mb{
        display: block;
    }
}
